@model VIACinemaApp.Models.Movies.AvailableMovie

@{
    ViewData["Title"] = "Available Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <div>
        <h4>AvailableMovie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AvailableDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvailableDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvailableSeats)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Movie)
            </dt>
            <dd>
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Movie.Id">
                    @Html.DisplayFor(model => model.Movie.MovieTitle)
                </a>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>