<environment include="Development">
    <link rel="stylesheet" href="~/css/availableMovies.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</environment>

@if (ViewBag.AvailableMovies != null)
{
    <table class="table" id="availableMovies">
        <thead>
            <tr>
                <th>
                    Movie Title
                </th>
                <th>
                    Available Date
                </th>
                <th>
                    Available Seats
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.AvailableMovies.Movies)
            {
                <tr>

                    <td>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                            @item.Movie.MovieTitle
                        </a>
                    </td>
                    <td>
                        @item.AvailableDate
                    </td>
                    <td>
                        <a asp-controller="Seats" asp-action="Index" asp-route-id="@item.Id">
                            @item.AvailableSeats
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}