@model VIACinemaApp.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Billboard";
}
<environment include="Development">
    <link href="~/js/site.js" />
    <link rel="stylesheet" href="~/css/availableMovies.css" />
</environment>
<h2>Billboard</h2>

<div id="tab"></div>
<div id="tabContainer"></div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="AvailableMovies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieTitle" asp-items="Model.Titles">
            <option value="">All</option>
        </select>

        Date: <input type="date" name="id" placeholder="Please select a date">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Movie.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].AvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].AvailableSeats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">

                        @Html.DisplayFor(modelItem => item.Movie.MovieTitle)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>