@using System.Linq
@using Microsoft.AspNetCore.Identity
@using VIACinemaApp.Models.AccountViewModels
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<environment include="Development">
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default identificationBtn">Log in</button>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword" class="signUpAsNewUser">Forgot your password?</a>
                    </p>
                    <p>
                        <span id="noAccount"> Don't have an account?</span>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="signUpAsNewUser">Sign up</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Or Login With</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                if (@provider.Name.Equals("Facebook"))
                                {
                                <p>
                                    <button type="submit" id="facebookButton" class="btn btn-default loginButton" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <img src="~/images/facebook_logo.png" width="30" height="30" />
                                        <span>Login with @provider.Name</span>
                                    </button>
                                </p>

                            }
                            else if (@provider.Name.Equals("Google"))
                            {
                                <button type="submit" class="btn btn-default loginButton" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <img src="~/images/google_logo.jpg" width="30" height="30" />
                                    <span>Login with @provider.Name</span>
                                </button>
                            }

                        }
                            </p>
                        </div>
                    </form>
            }
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}