@model VIACinemaApp.Models.TransactionViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Movie.MovieTitle)
        </dt>
        <dd>
            <a asp-controller="AvailableMovies" asp-action="Details" asp-route-id="@Model.Movie.Id">
                @Html.DisplayFor(model => model.Movie.Movie.MovieTitle)
            </a>
        </dd>
    </dl>
</div>

<button asp-action="CompleteTransaction" asp-route-id="@Model.Id"></button>