@using VIACinemaApp.Models.Transactions
@model TransactionViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/site.css" media="screen" />
</environment>

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.AvailableDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.AvailableDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Movie.MovieTitle)
        </dt>
        <dd>
            <a asp-controller="AvailableMovies" asp-action="Details" asp-route-id="@Model.Movie.Id">
                @Html.DisplayFor(model => model.Movie.Movie.MovieTitle)
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <div>
        <a asp-action="Index" class="checkOut">Go to check out</a>
    </div>
</div>