@using VIACinemaApp.Models.Transactions
@model IEnumerable<TransactionViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping Cart</h2>
@if (Model.ToList().Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Movie.MovieTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.AvailableDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Movie.Movie.Id">
                            @Html.DisplayFor(modelItem => item.Movie.Movie.MovieTitle)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.AvailableDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatNumber)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Price)
                    </th>
                    <td>
                        <a asp-controller="Transactions" asp-action="Delete" asp-route-id="@item.Id">
                            <img class="deleteImg" src="images/Cart-remove-icon.png" alt="delete" />
                        </a>
                    </td>
                </tr>

            }
            <tr></tr>
        </tbody>
    </table>

    var totalPrice =
        Model.Aggregate<TransactionViewModel, decimal>(0, (current, item) => current + item.Price);

    <h4 id="totalPrice">Total price: <b>@totalPrice kr.</b></h4>
    <a asp-action="CompleteTransaction" class="checkOut" id="payment">Go to Payment</a>
}
else
{
    <h2 id="emptyCart">Your cart is empty.</h2>
    <h3 id="movieCatalogue">Find out movie catalogue <a asp-controller="AvailableMovies" asp-action="Index">here</a> </h3>

}